.quote {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 1rem;
  max-width: 40rem;
}

.content {
  padding: 1rem;
  background-color: lightslategray;
  color: azure;
  font-size: 1.15rem;
}

.bottomBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkslategray;
  padding: 1rem;
}

.rating {
  font-size: 2rem;
  color: white;
}
